@charset "UTF-8";

:root {
    --wire-color: rgb(127, 127, 127);
    --wire-color0: rgb(76, 136, 76);
    --wire-color1: rgb(120, 136, 76);
    --wire-color2: rgb(136, 115, 76);
    --wire-color3: rgb(136, 95, 76);
    --wire-color4: rgb(136, 76, 76);
    --wire-color5: rgb(136, 76, 111);
    --wire-color6: rgb(112, 76, 136);
    --wire-color7: rgb(87, 76, 136);
    --wire-color8: rgb(76, 100, 136);
    --wire-color9: rgb(76, 136, 133);
    --wire-high-factor: 1.15;
    --wire-low-factor: 0.75;
    --wire-color-low: oklch(from var(--wire-color) calc(l * var(--wire-low-factor)) c h);
    --wire-color-high: oklch(from var(--wire-color) calc(l * var(--wire-high-factor)) c h);
    --wire-color0-low: oklch(from var(--wire-color0) calc(l * var(--wire-low-factor)) c h);
    --wire-color0-high: oklch(from var(--wire-color0) calc(l * var(--wire-high-factor)) c h);
    --wire-color1-low: oklch(from var(--wire-color1) calc(l * var(--wire-low-factor)) c h);
    --wire-color1-high: oklch(from var(--wire-color1) calc(l * var(--wire-high-factor)) c h);
    --wire-color2-low: oklch(from var(--wire-color2) calc(l * var(--wire-low-factor)) c h);
    --wire-color2-high: oklch(from var(--wire-color2) calc(l * var(--wire-high-factor)) c h);
    --wire-color3-low: oklch(from var(--wire-color3) calc(l * var(--wire-low-factor)) c h);
    --wire-color3-high: oklch(from var(--wire-color3) calc(l * var(--wire-high-factor)) c h);
    --wire-color4-low: oklch(from var(--wire-color4) calc(l * var(--wire-low-factor)) c h);
    --wire-color4-high: oklch(from var(--wire-color4) calc(l * var(--wire-high-factor)) c h);
    --wire-color5-low: oklch(from var(--wire-color5) calc(l * var(--wire-low-factor)) c h);
    --wire-color5-high: oklch(from var(--wire-color5) calc(l * var(--wire-high-factor)) c h);
    --wire-color6-low: oklch(from var(--wire-color6) calc(l * var(--wire-low-factor)) c h);
    --wire-color6-high: oklch(from var(--wire-color6) calc(l * var(--wire-high-factor)) c h);
    --wire-color7-low: oklch(from var(--wire-color7) calc(l * var(--wire-low-factor)) c h);
    --wire-color7-high: oklch(from var(--wire-color7) calc(l * var(--wire-high-factor)) c h);
    --wire-color8-low: oklch(from var(--wire-color8) calc(l * var(--wire-low-factor)) c h);
    --wire-color8-high: oklch(from var(--wire-color8) calc(l * var(--wire-high-factor)) c h);
    --wire-color9-low: oklch(from var(--wire-color9) calc(l * var(--wire-low-factor)) c h);
    --wire-color9-high: oklch(from var(--wire-color9) calc(l * var(--wire-high-factor)) c h);
    --component-rotate-duration: 0.15s;
    --component-color-transition-duration: 0.15s;
    --component-body-color: #444;
    --component-border-color: #222;
    --component-hover-color: #666;
    --component-preview-color: #444;
    --component-port-body-color: #444;
    --component-port-border-color: #6d6d6d;
}

/*
 * General UI
 */
html {
    background-color: black;
    color: white;
    font-family: sans-serif;
    user-select: none;
}
#header h1, #toolbar, #toolbar .toolbar-button {
    display: inline-block;
}
#header h1 {
    font-variant: small-caps;
    text-shadow:#fc0 1px 0 10px;
    text-decoration: underline;
    margin-top: 0;
    margin-bottom: 5px;
    font-style: italic;
}
#toolbar {
    margin-left: 10px;
}
.toolbar .toolbar-button {
    cursor: default;
    background-color: var(--component-body-color);
    border: 1px solid var(--component-border-color);
    transition: border-color var(--component-color-transition-duration);
    border-radius: 3px;
    color: #ffffff;
    text-align: center;
    box-sizing: border-box;
    margin: 5px;
    text-shadow: 1px 1px 2px black;
    font-size: 0.8em;
    min-width: 50px;
    line-height: 2;
    padding: 0 5px;
}
.toolbar .toolbar-button:hover {
    border: 1px solid #fff;
}
.toolbar .toolbar-action-button {
    text-shadow: none;
    background-color: #bbb;
    color: #000;
    font-weight: bold;
}

/*
 * Focus hint, see main.js.
 */
#focus-hint {
    pointer-events: none;
    display: none;
    position: absolute;
    z-index: 99;
    top: 75px;
    left: 50%;
    margin-left: -400px;
    width: 800px;
    padding: 10px;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    border: 3px solid red;
    background: maroon;
    opacity: 0.0;
    border-radius: 10px;
    transition: opacity 0.5s;
}
body.no-focus #focus-hint, body.focus-changing #focus-hint {
    display: block;
}
body.no-focus #focus-hint:has(+div#grid:hover) {
    opacity: 0.3;
}

/*
 * Grid
 */
.grid {
    /*background-image: radial-gradient(circle, #888 1px, #000 1px);  in JS to avoid looking to bright on low zoom */
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: black;
    background-image: radial-gradient(circle, #888 1px, #000 1px);
}
.grid.grid-zoom-100 {
    background-image: radial-gradient(circle, #444 1px, #000 1px);
}
.grid.grid-zoom-50 {
    background-image: radial-gradient(circle, #444 1px, #000 1px);
}
.grid.grid-zoom-175 {
    background-image: radial-gradient(circle, #aaa 1px, #000 1px);
}
.grid-status {
    z-index: 20;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 5px;
    background-color: #00000038;
    border: 1px solid #4444448a;
    border-radius: 3px;
    opacity: 1;
    transition: opacity 0.5s;
}
.grid-status.grid-status-faded {
    opacity: 0;
}
.grid-status i {
    color: #bbb;
    font-weight: bold;
}
.grid-status i::before {
    content: '»';
    font-weight: normal;
    vertical-align: text-bottom;
}
.grid-status i::after {
    content: '«';
    font-weight: normal;
    vertical-align: text-bottom;
}

/*
 * component
 */
.component {
    z-index: 11;
    position: absolute;
    background-color: transparent;
    cursor: default;
    box-sizing: border-box;
}
.component-drop-preview {
    z-index: 9;
    position: absolute;
    border-radius: 8px;
    outline: 2px solid var(--component-preview-color);
    outline-offset: -4px;
}
.component-rotate-animation {
    transition: transform var(--component-rotate-duration);
    transform: rotate(90deg);
}
.component-rotate-animation span {
    display: block;
    transition: transform var(--component-rotate-duration);
    transform: rotate(-90deg);
}
.component-inner {
    z-index: 12;
    position: absolute;
    background-color: var(--component-body-color);
    border: 1px solid var(--component-border-color);
    transition: border-color var(--component-rotate-duration);
    border-radius: 3px;
    color: #ffffff;
    text-align: center;
    box-sizing: border-box;
    margin: 5px; /* fixme: needs to match component, should just be set there */
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    overflow: hidden;
    text-shadow: 1px 1px 2px black;
    font-size: 0.8em;
}
.grid-zoom-below-65 .component-inner span {
    display: none;
}
.component-inner:hover {
    background-color: var(--component-hover-color);
}
.component-port {
    z-index: 14;
    position: absolute;
    background-color: var(--component-port-border-color);
    border-radius: 3px;
    font-size: 0.8em;
    text-align: center;
    color: #ddd;
    border: 1px solid var(--component-port-body-color);
    box-sizing: border-box;
    transition: background-color var(--component-color-transition-duration);
}
.grid-zoom-below-100 .component-port {
    border-radius: 0;
}
.grid-zoom-below-85 .component-port span {
    display: none;
}
.component-port:hover {
    background-color: #aaa;
    transition: background-color var(--component-color-transition-duration), color var(--component-color-transition-duration);
    color: #000;
}
.component-port-label {
    pointer-events: none;
    z-index: 13;
    position: absolute;
    white-space: nowrap;
    background-color: #00000038;
    border: 1px solid #4444448a;
    border-radius: 3px;
    box-sizing: border-box;
    color: #ccc;
    opacity: 0;
    transition: opacity var(--component-color-transition-duration);
}
.grid-zoom-below-125 .component-port-label {
    display: none;
}
.component:hover .component-port-label {
    opacity: 1;
}

/*
 * port
 */
div.component[data-port-net-state="0"] > div.component-inner {
    outline: 4px solid var(--wire-color-low);
    outline-offset: -4px;
}
div.component[data-port-net-state="1"] > div.component-inner {
    outline: 4px solid var(--wire-color-high);
    outline-offset: -4px;
}
div.component[data-port-net-state="0"] > div.component-inner:has(+div[data-component-port-color="0"]) {
    outline-color: var(--wire-color0-low);
}
div.component[data-port-net-state="1"] > div.component-inner:has(+div[data-component-port-color="0"])  {
    outline-color: var(--wire-color0-high);
}
div.component[data-port-net-state="0"] > div.component-inner:has(+div[data-component-port-color="1"]) {
    outline-color: var(--wire-color1-low);
}
div.component[data-port-net-state="1"] > div.component-inner:has(+div[data-component-port-color="1"])  {
    outline-color: var(--wire-color1-high);
}
div.component[data-port-net-state="0"] > div.component-inner:has(+div[data-component-port-color="2"]) {
    outline-color: var(--wire-color2-low);
}
div.component[data-port-net-state="1"] > div.component-inner:has(+div[data-component-port-color="2"])  {
    outline-color: var(--wire-color2-high);
}
div.component[data-port-net-state="0"] > div.component-inner:has(+div[data-component-port-color="3"]) {
    outline-color: var(--wire-color3-low);
}
div.component[data-port-net-state="1"] > div.component-inner:has(+div[data-component-port-color="3"])  {
    outline-color: var(--wire-color3-high);
}
div.component[data-port-net-state="0"] > div.component-inner:has(+div[data-component-port-color="4"]) {
    outline-color: var(--wire-color4-low);
}
div.component[data-port-net-state="1"] > div.component-inner:has(+div[data-component-port-color="4"])  {
    outline-color: var(--wire-color4-high);
}
div.component[data-port-net-state="0"] > div.component-inner:has(+div[data-component-port-color="5"]) {
    outline-color: var(--wire-color5-low);
}
div.component[data-port-net-state="1"] > div.component-inner:has(+div[data-component-port-color="5"])  {
    outline-color: var(--wire-color5-high);
}
div.component[data-port-net-state="0"] > div.component-inner:has(+div[data-component-port-color="6"]) {
    outline-color: var(--wire-color6-low);
}
div.component[data-port-net-state="1"] > div.component-inner:has(+div[data-component-port-color="6"])  {
    outline-color: var(--wire-color6-high);
}
div.component[data-port-net-state="0"] > div.component-inner:has(+div[data-component-port-color="7"]) {
    outline-color: var(--wire-color7-low);
}
div.component[data-port-net-state="1"] > div.component-inner:has(+div[data-component-port-color="7"])  {
    outline-color: var(--wire-color7-high);
}
div.component[data-port-net-state="0"] > div.component-inner:has(+div[data-component-port-color="8"]) {
    outline-color: var(--wire-color8-low);
}
div.component[data-port-net-state="1"] > div.component-inner:has(+div[data-component-port-color="8"])  {
    outline-color: var(--wire-color8-high);
}
div.component[data-port-net-state="0"] > div.component-inner:has(+div[data-component-port-color="9"]) {
    outline-color: var(--wire-color9-low);
}
div.component[data-port-net-state="1"] > div.component-inner:has(+div[data-component-port-color="9"])  {
    outline-color: var(--wire-color9-high);
}
div.component[data-port-state="0"] {
    outline: 3px solid rgb(0, 70, 0);
    outline-offset: -4px;
    border-radius: 5px;
}
div.component[data-port-state="1"] {
    outline: 3px solid rgb(0, 143, 0);
    outline-offset: -4px;
    border-radius: 5px;
}


/*
 * connection
 */
.connection-h, .connection-v {
    z-index: 10;
    position: absolute;
    box-sizing: border-box;
    background-color: #6d6d6d;
}
/* extends clickable area around connections */
.connection-h::after, .connection-v::after {
    content: '';
    position: absolute;
    inset-block: -4px;
    inset-inline: -4px;
}
.grid-zoom-above-100 .connection-h::after, .grid-zoom-above-100 .connection-v::after {
    inset-block: -8px;
    inset-inline: -8px;
}
/* colors */
div[data-connection-color="0"], div[data-component-port-color="0"] {
    background-color: var(--wire-color0);
}
div[data-connection-color="1"], div[data-component-port-color="1"] {
    background-color: var(--wire-color1);
}
div[data-connection-color="2"], div[data-component-port-color="2"] {
    background-color: var(--wire-color2);
}
div[data-connection-color="3"], div[data-component-port-color="3"] {
    background-color: var(--wire-color3);
}
div[data-connection-color="4"], div[data-component-port-color="4"] {
    background-color: var(--wire-color4);
}
div[data-connection-color="5"], div[data-component-port-color="5"] {
    background-color: var(--wire-color5);
}
div[data-connection-color="6"], div[data-component-port-color="6"] {
    background-color: var(--wire-color6);
}
div[data-connection-color="7"], div[data-component-port-color="7"] {
    background-color: var(--wire-color7);
}
div[data-connection-color="8"], div[data-component-port-color="8"] {
    background-color: var(--wire-color8);
}
div[data-connection-color="9"], div[data-component-port-color="9"] {
    background-color: var(--wire-color9);
}
/* connection debugging */
.connection-debug {
    pointer-events: none;
    z-index: 11;
    position: absolute;
    box-sizing: border-box;
    border: 1px solid grey;
    border-top-color: red;
    border-bottom-color: green;
    border-left-color: orange;
    border-right-color: turquoise;
    opacity: 0.5;
}
.connection-debug span {
    pointer-events: none;
    z-index: 11;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 300px;
    height: 40px;
    margin-left: -150px;
    margin-top: -20px;
    text-align: center;
}
.connection-debug-point {
    pointer-events: none;
    z-index: 11;
    display: block;
    position: absolute;
}
.connection-debug-point0::after {
    content: '0';
}
.connection-debug-point1::after {
    content: '1';
}
.connection-debug-point2::after {
    content: '2';
}