@charset "UTF-8";

/*
 * general ui
 */
html {
    background-color: black;
    color: white;
    font-family: sans-serif;
}
h1 {
    font-variant: small-caps;
    /*text-shadow: red 3px 3px;*/
    text-shadow:#fc0 1px 0 10px;
    text-decoration: underline;
}

/*
 * grid
 */
.grid {
    /*background-image: radial-gradient(circle, #888 1px, #000 1px);  in JS to avoid looking to bright on low zoom */
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.grid-status {
    z-index: 20;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 5px;
    background-color: #00000038;
    border: 1px solid #4444448a;
    border-radius: 3px;
    opacity: 1;
    transition: opacity 0.5s;
}
.grid-status.grid-status-faded {
    opacity: 0;
}
.grid-status i {
    color: #bbb;
    font-weight: bold;
}
.grid-status i::before {
    content: '»';
    font-weight: normal;
    vertical-align: text-bottom;
}
.grid-status i::after {
    content: '«';
    font-weight: normal;
    vertical-align: text-bottom;
}

/*
 * component
 */
.component {
    z-index: 11;
    position: absolute;
    background-color: transparent;
    cursor: default;
    box-sizing: border-box;
}
.component-drop-preview {
    z-index: 9;
    position: absolute;
    border: 2px solid #444;
    border-radius: 6px;
}
.component-inner {
    z-index: 12;
    position: absolute;
    background-color: #444;
    border: 1px solid #222;
    transition: border-color 0.15s;
    border-radius: 3px;
    color: #ffffff;
    text-align: center;
    box-sizing: border-box;
    margin: 5px; /* fixme: needs to match component, should just be set there */
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    overflow: hidden;
    text-shadow: 1px 1px 2px black;
    font-size: 0.8em;
}
.component-inner:hover {
    border: 1px solid #fff;
}
.component-port {
    z-index: 14;
    position: absolute;
    background-color: #6d6d6d;
    border-radius: 3px;
    font-size: 0.8em;
    text-align: center;
    color: #ddd;
    border: 1px solid #222;
    box-sizing: border-box;
}
.component-port:hover {
    background-color: #aaa;
    transition: background-color 0.15s, color 0.15s;
    color: #000;
}
.component-port-label {
    pointer-events: none;
    z-index: 13;
    position: absolute;
    white-space: nowrap;
    background-color: #00000038;
    border: 1px solid #4444448a;
    border-radius: 3px;
    box-sizing: border-box;
    color: #ccc;
    opacity: 0;
    transition: opacity 0.15s;
}
.component:hover .component-port-label {
    opacity: 1;
}

/*
 * connection
 */
.connection-h, .connection-v {
    z-index: 10;
    position: absolute;
    background-color: rgb(76, 136, 76);
    box-sizing: border-box;
}
